/* Cyber-Dystopie-Stil */
:root {
    --cyber-purple: #4A099A;
    --cyber-blue: #003f92;
    --cyber-black: #070707;
    --black: #000000;
}

body.cyber-body {
    background-color: var(--black);
    color: var(--cyber-blue);
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
    padding: 2rem;
    border: 1px solid var(--cyber-purple);
    border-radius: 5px;
    box-shadow: 0 0 20px var(--cyber-purple);
    background-color: var(--cyber-black);
}

h1.glitch {
    font-family: 'Orbitron', sans-serif;
    font-size: 3.5rem;
    margin: 0;
    position: relative;
    color: var(--cyber-purple);
    text-shadow: 0 0 10px var(--cyber-blue);
    animation: glitch 2s linear infinite;
}

p.glitch::before,
p.glitch::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.8;
    pointer-events: none; /* added to allow clicks through the pseudo-elements */
}

@keyframes glitch {
    0% { transform: skew(0deg); }
    20% { transform: skew(2deg); }
    40% { transform: skew(-1deg); }
    60% { transform: skew(1deg); }
    80% { transform: skew(-2deg); }
    100% { transform: skew(0deg); }
}

.cyber-button {
    display: inline-block;
    margin-top: 1rem;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: auto;
    padding: 1rem 2rem;
    background: linear-gradient(90deg, var(--cyber-purple), var(--cyber-blue));
    color: white;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 0 10px var(--cyber-purple);
}

.cyber-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--cyber-blue);
}

.cyber-text {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 600px;
    margin: 2rem auto;
}

.cyber-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

